html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

div.painter {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  z-index: 100;
}

#painter1 {
  top: 20px;
  left: 20px;
}

#painter2 {
  top: 20px;
  left: 240px;
}

#painter3 {
  top: 20px;
  left: 460px;
}
